* { box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}


h1 {
    font-family: 'IM Fell English SC', Verdana;
    margin: 1px;
}

/*
header {
    background-image: url("Images/SnowFir.jpg");
}

Elephant - use the * selector to somehow target parent elements. */





#main {
     display: flex;
     flex: 1;
}

#main > article {
    flex: 1;
    order: 1;
}

#main > nav,
#main > aside {
    flex: 0 0 20vw;
}

#main > nav {
    background: blue;
    order: 3;
}

#main > aside {
    background: purple;
    order: 2;
}

#welcome-styles {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: verdana;
}

header {
    background-image: url("Images/SnowFirOverlay.jpg");
    position: relative;
    color: white;
    height: 20vh;
}


footer {
    background: #116466;
    color: white;
    height: 20vh;
}

header, footer, article, nav, aside {
    padding: 1em;
}