body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}



header {
    background-image: url("Images/SnowFir.jpg");
    opacity: 100%;
    color: white;
}

/* Elephant - use the * selector to somehow target parent elements. */



.margin {
    margin: 100px;
}