* { box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}


/*
header {
    background-image: url("Images/SnowFir.jpg");
}

Elephant - use the * selector to somehow target parent elements. */

.margin {
    margin-left: 3em;
    margin-top: 5rem;
}



#main {
     display: flex;
     flex: 1;
}

#main > article {
    flex: 1;
    order: 1;
}

#main > nav,
#main > aside {
    flex: 0 0 20vw;
}

#main > nav {
    background: blue;
    order: 3;
}

#main > aside {
    background: purple;
    order: 2;
}

header {
    background-image: url("Images/SnowFir.jpg");
    opacity: 20%;
    color: white;
    height: 20vh;
}
footer {
    background: #116466;
    color: white;
    height: 20vh;
}

header, footer, article, nav, aside {
    padding: 1em;
}